<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>trunkmanager</name>
    <displayname>Trunk Manager</displayname>
    <version>1.0.0</version>
    <description>Módulo para gestión automática de trunks SIP mediante API REST</description>
    <author>Tu Nombre</author>
    <license>GPL v3</license>
    <menuitems>
        <menuitem>
            <name>trunkmanager</name>
            <displayname>Trunk Manager</displayname>
            <url>config.php?display=trunkmanager</url>
            <category>connectivity</category>
            <order>100</order>
        </menuitem>
    </menuitems>
    <dependents>
        <dependent>
            <name>framework</name>
            <version>13.0.0</version>
        </dependent>
    </dependents>
    <supported_languages>
        <language>en_US</language>
        <language>es_ES</language>
    </supported_languages>
</module>
